<%= form_for(@seguridad_usuario) do |f| %>
  <% if @seguridad_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seguridad_usuario.errors.count, "error") %> prohibited this seguridad_usuario from being saved:</h2>

      <ul>
      <% @seguridad_usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :nombres %><br>
    <%= f.text_field :nombres %>
  </div>
  <div class="field">
    <%= f.label :apellidos %><br>
    <%= f.text_field :apellidos %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
