<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Inicio', controller: 'home', action: 'index' %>

<%= link_to 'Ayuda', controller: 'ayuda', action: 'index' %>

Layout

<%= yield %>

</body>
</html>
